/Esercizio Libri-Gobbi Iaconis/.vs/Esercizio Libri-Gobbi Iaconis/v15/.suo
/Esercizio Libri-Gobbi Iaconis/.vs/Esercizio Libri-Gobbi Iaconis/v15/Server/sqlite3/storage.ide
/Esercizio Libri-Gobbi Iaconis/.vs/Esercizio Libri-Gobbi Iaconis/v15/Server/sqlite3/storage.ide-shm
/Esercizio Libri-Gobbi Iaconis/.vs/Esercizio Libri-Gobbi Iaconis/v15/Server/sqlite3/storage.ide-wal
